<head>
	<link rel="stylesheet" href="/src/hosting/hosting.css">
</head>

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	    <div class="container">
	    	<div class="hostingSubmission">
			    	<div class="col-lg-12 col-md-12 portlets" >
				      <h3><i class="fa fa-cloud" aria-hidden="true"></i> Infrastructure and Hosting </h3>
				      <h5>To add or update hosting details.</h5>
			    	</div>
		 		<form  id="hostingSubForm" name="hostingSubForm" class="form-horizontal">
				        <div class="col-lg-12 col-md-12 portlets">
				            <div class="panel panel-default">
				                <div class="panel-heading">
				                    <div class="pull-left"> Solution Setting</div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="panel-body">
				                    <div class="hostingSubForm">
				                        <div class="first-section">
				                        	<div class="col-lg-2 solList">
			                        			<div class="form-group">
				                                	<label for="offshore">Offshore Allowed</label>
					                                <select id="offshore" class="form-control hostingInputs" ng-model="dealDetails.offshoreSelected" selected="dealDetails.offshoreSelected" name="offshore" ng-required="true">
							                            <option ng-repeat="offshores in genericDealInfoDto.yesNoOptionList">{{offshores}}</option>
							                       </select>
				                              	</div>
		                              		</div>
			                             	<div class="col-lg-2 solList">
			                              		<div class="form-group">
				                                	<label for="serviceWindows">Level of Service</label>
					                                <select id="serviceWindow" class="form-control hostingInputs" ng-model="dealDetails.standardwindowInfoSelected" selected="dealDetails.standardwindowInfoSelected" name="serviceWindow" ng-required="true">
							                            <option ng-repeat="serviceWindows in genericDealInfoDto.standardWindowInfoList" ng-value="serviceWindows.windowName">{{serviceWindows.windowName}} {{serviceWindows.windowRange}}</option>
							                       </select>
				                              	</div>
	                               			</div>
											<div class="col-lg-2 solList">
			                              		<div class="form-group">
				                                	<label for="hardwareIncluded">Hardware Included</label>
					                                <select id="hardwareIncluded" class="form-control hostingInputs" ng-model="dealDetails.hardwareIncludedSelected" selected="dealDetails.hardwareIncludedSelected" name="hardwareIncluded" ng-required="true">
							                            <option ng-repeat="hardwareIncluded in genericDealInfoDto.yesNoOptionList">{{hardwareIncluded}}</option>
							                       </select>
				                                </div>
		                        			</div>
		                        			<div class="col-lg-2 solList">
			                              		<div class="form-group">
				                                	<label for="tooling">Tooling & Monitoring</label>
					                                <select id="tooling" class="form-control hostingInputs" ng-model="dealDetails.tooling" selected="dealDetails.tooling" name="tooling" ng-required="true">
							                            <option ng-repeat="tooling in genericDealInfoDto.yesNoOptionList">{{tooling}}</option>
							                       </select>
				                                </div>
		                        			</div>
		                        			<div class="col-lg-2 solList">
			                              		<div class="form-group">
				                                	<label for="colocation">Co-location
				                                		<a href="#" uib-tooltip-html="'determines where the infrastructure hardware is hosted. If the Servers are located at a client location, then the price output does not include raised floor, HVAC, power, racks, firewalls, cabling, equipment and all support up to the point of the router/switch used to connect to the external LAN/WAN.'"  tooltip-placement="bottom" tooltip-class="customClass">
											       			<i class="fa fa-info-circle"></i>
											       		</a>
				                                	</label>
					                                <select id="colocation" class="form-control hostingInputs" ng-model="dealDetails.colocation" selected="dealDetails.colocation" name="colocation" ng-required="true">
							                            <option ng-repeat="colocation in genericDealInfoDto.coLocationDtoList">{{colocation.coLocationName}}</option>
							                       </select>
				                                </div>
		                        			</div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>

				        <div class="col-lg-12 col-md-12 portlets">
				            <div class="panel panel-default">
				                <div class="panel-heading">
				                    <div class="clearfix">
				                    	<div class="col-lg-5"><label for="title"><i class="fa fa-tags" aria-hidden="true"></i> Field Marked with <span class="mandatory">*</span> are mandatory. </label></div>
				                    	<div class="col-lg-4 tabheader-radio">
									    <div class="col-lg-6">
									         <input  id="radioRevenue" name="rdbRevenueUnit" type="radio" ng-model="viewBy.type" value="revenue" ng-click="onchangeprice(viewBy.type)"/>
									         <label>Annual Price</label>
									    </div>
									    <div class="col-lg-6">
									    	<input  id="radioUnit" name="rdbRevenueUnit" type="radio" ng-model="viewBy.type" value="unit" ng-click="onchangeprice(viewBy.type)"/>
									       	<label>Unit Price</label>
									    </div>
									</div>
				                    </div>
				                </div>
				                <div class="panel-body">
				                	<div class="tab-content col-lg-12 col-md-12">
				                		<div id="subtab" class="tree col-lg-12 col-md-12 scrollbar-danger" >
			                				<div class="col-lg-12 col-md-12">
					                			<div class="col-lg-3 col-md-3">
					                        		<div class="form-group tower-architect">
					                                	<label for="offshore">Tower Architect<div class="mandatory" style="display:initial;">*</div></label>
						                                <div class="input-group contactInput">
													      <input type="text" ng-model="dealDetails.towerArchitect" class="form-control genericInputs" ng-required="true">
													      <span class="input-group-addon" ng-click="edit(dealDetails.towerArchitect,'towerArchitect')"><i class="fa fa-search" ></i></span>
														 </div>
					                              	</div>
					                        	</div>
											</div>
											<div class="col-lg-12 col-md-12">
												<br/>
												<div class="alert alert-danger" ng-if="showErr">
												<strong>Error!</strong> Sum of percentages should be 100!</div>
												<div class="alert alert-danger" ng-if="showVolumeErr">
												<strong>Error!</strong> Sum of all hosting types should be equal to it's parent hosting in there respective year!</div>
											</div>
											<div class="col-lg-12 col-md-12 hosting">
												<div class="level1_div">
													<div class="level1" style="background-image: url('../images/quater4.png');">
														<i class="fa fa-plus-circle level1_i" ng-if="!hostingInfo.serverHosting.open" ng-click="togglePanel(hostingInfo.serverHosting)" ></i>
														<i class="fa fa-minus-circle level1_i" ng-if="hostingInfo.serverHosting.open" ng-click="togglePanel(hostingInfo.serverHosting)"></i>
													</div>
													<div class="level1_div">
														<div class="level1_icondiv">
															<i class="fa fa-database hostinglevel1_icon"></i>
														</div>
														<div class="level1_labeldiv">
															<label> {{hostingInfo.serverHosting.levelName}}</label>
														</div>
														<div class="level1_yearmaindiv11">
															<div ng-repeat="dv in hostingInfo.serverHosting.children[0].distributedVolume track by $index" ng-if="hostingInfo.serverHosting.open || hostingInfo.platformHosting.open">
																<label class="input-box level1_yearlabel">Year {{$index+1}}</label>
													        </div>
											      		</div>
											      		<div class="level1_yearmaindiv22">
															<div ng-repeat="dv in hostingInfo.serverHosting.children[0].distributedVolume track by $index" ng-if="hostingInfo.serverHosting.open || hostingInfo.platformHosting.open">
																<label class="input-box level1_yearlabel">Year {{$index+1}}</label>
													        </div>
											      		</div>
													</div>
												</div>
												<div class="hostinglevel1-1_div" ng-if="hostingInfo.serverHosting.open">
													<ul>
													    <li>
													        <div class="level1_div">
																<label for="clientIndustry" class="distributionsetting">Distribution Setting<em class="mandatory" style="display:initial;">*</em></label>
																<select ng-if="custom==true" class="form-control selectDistributionlist" ng-model="selectedSolutionId" ng-options="sol.solutionId as sol.solutionName disable when sol.solutionName=='Custom' for sol in solList" ng-change="onChangeDistSetting(selectedSolutionId)" ng-required="true">
																	<option value="" disabled selected hidden>Please Select...</option>
																</select>
																<select ng-if="custom==false" class="form-control selectDistributionlist" ng-model="selectedSolutionId" ng-options="sol.solutionId as sol.solutionName disable when sol.solutionName=='Custom' for sol in solList" ng-change="onChangeDistSetting(selectedSolutionId)" ng-required="true">
																	<option value="" disabled selected hidden>Please Select...</option>
																</select>
															</div>
													    </li>
												    	<li>
													        <i class="fa fa-plus-circle hostinglevel1-1_expandcollapse"  ng-click="togglePanel(hostingInfo.serverHosting.children[0])" ng-if="!hostingInfo.serverHosting.children[0].open" ></i>
															<i class="fa fa-minus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(hostingInfo.serverHosting.children[0])" ng-if="hostingInfo.serverHosting.children[0].open" ></i>
															<span class="iconbar">
																<i class="fa fa-bars level1-1_icon"></i>
															</span>
															<span class="labelbar">
																<label class="levelheader" style="width: 25em;"> {{hostingInfo.serverHosting.children[0].levelName}}<div class="mandatory" style="display:initial;">*</div></label>
																<input type="text" ng-repeat="dv in hostingInfo.serverHosting.children[0].distributedVolume track by $index"
																	class="form-control input-box hostinglevel1-1_input"
																	name="volume{{$index}}" ng-disabled="hostingInfo.serverHosting.children[0].open == true" ng-blur="onchangeparentvolume()"
																	ng-model="hostingInfo.serverHosting.children[0].distributedVolume[$index].volume" ng-keydown="tabEvent($event,$index,'ServerVolume','')" maxlength="6" size="6" ng-required="true" numbers-only />

																<label class="levelheader pricing-header">Server Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																<input type="text" ng-repeat="dv in hostingInfo.serverHosting.children[0].distributedVolume track by $index"
																	ng-if="viewBy.type == 'revenue'" class="form-control input-box hostinglevel1-1_input"
																	ng-model="hostingInfo.serverHosting.children[0].distributedVolume[$index].revenue * 12"
																	name="revenue{{$index}}" ng-disabled="hostingInfo.serverHosting.children[0].open == true"
																	ng-keydown="tabEvent($event,$index,'ServerPricingRevenue','')" maxlength="6" size="6" ng-required="true" numbers-only />

																<input type="text" ng-repeat="dv in hostingInfo.serverHosting.children[0].distributedVolume track by $index"
																	ng-if="viewBy.type == 'unit'" class="form-control input-box hostinglevel1-1_input"
																	name="unit{{$index}}" ng-disabled="hostingInfo.serverHosting.children[0].open == true"
																	ng-model="hostingInfo.serverHosting.children[0].distributedVolume[$index].unit"
																	ng-change="onchangeparentpricing(hostingInfo.serverHosting.children[0],viewBy.type);" ng-keydown="tabEvent($event,$index,'ServerPricingUnit','')" ng-required="true" numbersOnlyDec />
															</span>
															<ul ng-if="hostingInfo.serverHosting.children[0].open">
																<li ng-repeat="child in hostingInfo.serverHosting.children[0].children track by $index" ng-init="childIndex = $index">
																	<i class="fa fa-plus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(child)" ng-if="!child.open"></i>
																	<i class="fa fa-minus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(child)" ng-if="child.open"></i>
																	<span class="iconbar" style="padding-top:1em; padding-bottom:1.1em;"><i class="fa fa-bars"></i></span>
																	<span class="labelbar">
																		<label class="levelheader input-euro right" style="width: 17em;" ng-if="!child.tooltip">{{child.levelName}}<div class="mandatory" style="display:initial;">*</div></label>
																		<label class="levelheader input-euro right" style="width: 17em;" ng-if="child.tooltip"  title='{{child.tooltip}}';>{{child.levelName}} <div class="mandatory" style="display:initial;">*</div></label>

																		<input type="text" class="form-control input-box perInput" name="childinput{{$index}}" style="margin-top: 0.2em" ng-pattern="/^[0-9][0-9]?$|^100$/"
																	      	ng-disabled="child.open == true" ng-change="onchangepercentage(hostingInfo.serverHosting.children[0],childIndex)"
																		  	ng-model="child.percentage" placeholder="<100" numbers-only/>

																		<input type="text" ng-repeat="dv in child.distributedVolume track by $index" name="childinput{{$index+1}}"
																			class="form-control input-box" style="margin-top: 0.2em" ng-change="onChangeVolume(hostingInfo.serverHosting.children[0])"
																			name="childVolume{{childIndex}}{{$index}}" ng-disabled="child.open == true"
																	   		ng-model="dv.volume" maxlength="6" size="6" ng-required="true" numbers-only/>

																   		<label class="levelheader pricing-header">Server Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																		<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																			ng-if="viewBy.type == 'revenue'" class="form-control input-box hostinglevel1-1_input"
																			ng-model="dv.revenue * 12" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);" ng-disabled="child.open == true"
																			name="revenue{{$index}}" ng-keydown="tabEvent($event,$index,'ServerChildPricingRevenue',childIndex)" maxlength="6" size="6" ng-required="true" numbers-only />

																		<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																			ng-if="viewBy.type == 'unit'" class="form-control input-box hostinglevel1-1_input"
																			name="unit{{$index}}" ng-disabled="child.open == true"
																			ng-model="child.distributedVolume[$index].unit" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"
																			ng-keydown="tabEvent($event,$index,'ServerChildPricingUnit',childIndex)" maxlength="10" size="10" ng-required="true" numbers-only-dec />
																	</span>

																	<ul ng-if="child.open">
																		<li ng-repeat="grandchild in child.children track by $index" ng-init="grandchildIndex = $index">
																			<i class="fa fa-plus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(grandchild)" ng-if="!grandchild.open"></i>
																			<i class="fa fa-minus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(grandchild)" ng-if="grandchild.open"></i>
																			<span class="iconbar" style="padding-top:1em; padding-bottom:1.1em;"><i class="fa fa-bars"></i></span>
																			<span class="labelbar">
																				<label class="levelheader virtualchild input-euro right" style="width: 14em;" ng-if="!grandchild.tooltip">{{grandchild.levelName}}<div class="mandatory" style="display:initial;">*</div></label>
																				<label class="levelheader virtualchild input-euro right" style="width: 14em;" ng-if="grandchild.tooltip" title='{{grandchild.tooltip}}'>{{grandchild.levelName}} <div class="mandatory" style="display:initial;">*</div></label>

																				<input type="text" class="form-control input-box perInput " name="grandchildinput{{$index}}" style="margin-top: 0.2em"
																			      	ng-disabled="grandchild.open == true" ng-change="onchangepercentage(child,grandchildIndex)" ng-pattern="/^[0-9][0-9]?$|^100$/"
																				  	ng-model="grandchild.percentage" placeholder="<100" numbers-only/>

																				<input type="text" ng-repeat="dv in grandchild.distributedVolume track by $index" name="grandchildinput{{$index+1}}"
																					class="form-control input-box" style="margin-top: 0.2em" ng-change="onChangeVolume(child)"
																					name="grandchildVolume{{childIndex}}{{$index}}"  ng-disabled="grandchild.open == true"
																			   		ng-model="dv.volume" maxlength="6" size="6" ng-required="true" numbers-only/>

																		   		<label class="levelheader pricing-header">Server Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																				<input type="text" ng-repeat="dv in grandchild.distributedVolume track by $index"
																					ng-if="viewBy.type == 'revenue'" class="form-control input-box hostinglevel1-1_input"
																					ng-model="dv.revenue * 12" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"  ng-disabled="grandchild.open == true"
																					name="revenue{{$index}}" ng-keydown="tabEvent($event,$index,'ServerGrandChildPricingRevenue',childIndex,grandchildIndex)" maxlength="6" size="6" ng-required="true" numbers-only />

																				<input type="text" ng-repeat="dv in grandchild.distributedVolume track by $index"
																					ng-if="viewBy.type == 'unit'" class="form-control input-box hostinglevel1-1_input"
																					name="unit{{$index}}"  ng-disabled="grandchild.open == true"
																					ng-model="grandchild.distributedVolume[$index].unit" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"
																					ng-keydown="tabEvent($event,$index,'ServerGrandChildPricingUnit',childIndex,grandchildIndex)" maxlength="10" size="10" ng-required="true" numbers-only-dec />
																			</span>

																			<ul ng-if="grandchild.open">
																				<li ng-repeat="ggc in grandchild.children track by $index" ng-init="ggcIndex = $index">
																					<i class="fa fa-plus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(ggc)" ng-if="!ggc.open && ggc.children.length" ></i>
																					<i class="fa fa-minus-circle hostinglevel1-1_expandcollapse" ng-click="togglePanel(ggc)" ng-if="ggc.open && ggc.children.length" ></i>
																					<span class="iconbar" style="padding-top:1em; padding-bottom:1.1em;"><i class="fa fa-bars"></i></span>
																					<span class="labelbar">
																						<label class="levelheader input-euro right" style="width: 11em;" ng-if="!ggc.tooltip">{{ggc.levelName}}<div class="mandatory" style="display:initial;">*</div></label>
																						<label class="levelheader laptop input-euro right" style="width: 11em;" ng-if="ggc.tooltip" title='{{ggc.tooltip}}';>{{ggc.levelName}} <div class="mandatory" style="display:initial;">*</div></label>

																						<input type="text" class="form-control input-box perInput " name="ggcinput{{$index}}" style="margin-top: 0.2em"
																					      	ng-disabled="ggc.open == true" ng-change="onchangepercentage(grandchild,ggcIndex)" ng-pattern="/^[0-9][0-9]?$|^100$/"
																						  	ng-model="ggc.percentage" placeholder="<100" numbers-only/>

																						<input type="text" ng-repeat="dv in ggc.distributedVolume track by $index" name="ggcinput{{$index+1}}"
																							class="form-control input-box" style="margin-top: 0.2em" ng-blur="onChangeVolume(grandchild)"
																							name="ggcVolume{{ggcIndex}}{{$index}}"  ng-disabled="ggc.open == true"
																					   		ng-model="dv.volume" maxlength="6" size="6" ng-required="true" numbers-only/>

																				   		<label class="levelheader pricing-header">Server Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																						<input type="text" ng-repeat="dv in ggc.distributedVolume track by $index"
																							ng-if="viewBy.type == 'revenue'" class="form-control input-box hostinglevel1-1_input"
																							ng-model="dv.revenue * 12" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"  ng-disabled="ggc.open == true"
																							name="revenue{{$index}}" ng-keydown="tabEvent($event,$index,'ServerGGCPricingRevenue',childIndex,grandchildIndex,ggcIndex)" maxlength="6" size="6" ng-required="true" numbers-only />

																						<input type="text" ng-repeat="dv in ggc.distributedVolume track by $index"
																							ng-if="viewBy.type == 'unit'" class="form-control input-box hostinglevel1-1_input"
																							name="unit{{$index}}" ng-disabled="ggc.open == true"
																							ng-model="ggc.distributedVolume[$index].unit" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"
																							ng-keydown="tabEvent($event,$index,'ServerGGCPricingUnit',childIndex,grandchildIndex,ggcIndex)" maxlength="10" size="10" ng-required="true" numbers-only-dec />
																					</span>

																					<ul ng-if="ggc.open && ggc.children">
																						<li ng-repeat="sgc in ggc.children track by $index" ng-init="sgcIndex = $index">
																							<span class="iconbar" style="padding-top:1em; padding-bottom:1.1em;"><i class="fa fa-bars"></i></span>
																							<span class="labelbar">
																								<label class="levelheader input-euro right" ng-if="!sgc.tooltip">{{sgc.levelName}}<div class="mandatory" style="display:initial;">*</div></label>
																								<label class="levelheader laptop input-euro right" ng-if="sgc.tooltip" title='{{sgc.tooltip}}'>{{sgc.levelName}} <div class="mandatory" style="display:initial;">*</div></label>

																								<input type="text" class="form-control input-box perInput" name="sgcinput{{$index}}" style="margin-top: 0.2em"
																								  	ng-change="onchangepercentage(ggc,sgcIndex)"
																								  	ng-model="sgc.percentage" placeholder="<100" numbers-only/>

																								<input type="text" ng-repeat="dv in sgc.distributedVolume track by $index" name="grandchildinput{{$index+1}}"
																									class="form-control input-box" style="margin-top: 0.2em" ng-change="onChangeVolume(ggc)"
																									name="grandchildVolume{{childIndex}}{{$index}}"
																							   		ng-model="dv.volume" maxlength="6" size="6" ng-required="true" numbers-only/>

																						   		<label class="levelheader pricing-header">Server Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																								<input type="text" ng-repeat="dv in sgc.distributedVolume track by $index"
																									ng-if="viewBy.type == 'revenue'" class="form-control input-box hostinglevel1-1_input"
																									ng-model="dv.revenue * 12" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"
																									name="revenue{{$index}}" ng-keydown="tabEvent($event,$index,'ServerSGCPricingRevenue',childIndex,grandchildIndex,ggcIndex,sgcIndex)" maxlength="6" size="6" ng-required="true" numbers-only />

																								<input type="text" ng-repeat="dv in sgc.distributedVolume track by $index"
																									ng-if="viewBy.type == 'unit'" class="form-control input-box hostinglevel1-1_input"
																									name="unit{{$index}}" ng-disabled="sgc.open == true"
																									ng-model="sgc.distributedVolume[$index].unit" ng-blur="calcServerPrice(hostingInfo.serverHosting.children[0]);"
																									ng-keydown="tabEvent($event,$index,'ServerSGCPricingUnit',childIndex,grandchildIndex,ggcIndex,sgcIndex)" maxlength="10" size="10" ng-required="true" numbers-only-dec />
																							</span>
																						</li>
																					</ul>
																				</li>
																			</ul>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
										         	</ul>
										    	</div>
										    	<div class="platformDiv">
											   <div class="platform_div">
													<div class="platformlevel1" style="background-image: url('../images/quater21.png');">
														<i class="fa fa-plus-circle platformlevel1_i" ng-if="!hostingInfo.platformHosting.open" ng-click="togglePanel(hostingInfo.platformHosting)" ></i>
														<i class="fa fa-minus-circle platformlevel1_i" ng-if="hostingInfo.platformHosting.open" ng-click="togglePanel(hostingInfo.platformHosting)" ></i>
													</div>
													<div class="level1_div">
										      				<div class="level1_icondiv">
															<i class="fa fa-database platform_icon"></i>
														</div>
														<div class="level1_labeldiv">
															<label> {{hostingInfo.platformHosting.levelName}}</label>
										      				</div>
													</div>
												</div>
												<div class="platformlevel1-1_div" ng-if="hostingInfo.platformHosting.open">
										  				<ul>
														<li ng-repeat="child in hostingInfo.platformHosting.children track by $index" ng-init="childIndex = $index">
															<span class="iconbar">
																<i class="fa fa-bars level1-1_icon" ></i>
															</span>
															<span class="labelbar">
																<label class="levelheader database" style="width:25em;" ng-if="!child.tooltip"> {{child.levelName}}<div class="mandatory" style="display:initial;">*</div></label>
																<label class="levelheader" style="width:25em;" ng-if="child.tooltip" title='{{child.tooltip}}';>{{child.levelName}}<div class="mandatory" style="display:initial;">*</div></label>

																<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																		class="form-control input-box hostinglevel1-1_input"
																		name="platformVolume{{$index}}"
																		ng-model="child.distributedVolume[$index].volume" ng-keydown="tabEvent($event,$index,'PlatformChildVolume',childIndex)" maxlength="6" size="6" ng-required="true" numbers-only/>

																<label class="levelheader pricing-header">Platform Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																	ng-if="viewBy.type == 'revenue'" class="form-control input-box hostinglevel1-1_input"
																	ng-model="child.distributedVolume[$index].revenue * 12"
																	name="platformrevenue{{$index}}" ng-disabled="child.open == true"
																	ng-keydown="tabEvent($event,$index,'PlatformChildPricingRevenue',childIndex)" maxlength="6" size="6" ng-required="true" numbers-only />

																<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																	ng-if="viewBy.type == 'unit'" class="form-control input-box hostinglevel1-1_input"
																	name="platformunit{{$index}}" ng-disabled="child.open == true"
																	ng-model="child.distributedVolume[$index].unit"
																	ng-keydown="tabEvent($event,$index,'PlatformChildPricingUnit',childIndex)" maxlength="10" size="10" ng-required="true" numbers-only-dec />
															</span>
														</li>
													</ul>
												</div>
											  </div>
										</div>
										<!--End-->
				                		</div>
									</div>
									<div class="col-lg-12 col-md-12 portlets"> <!-- ng-disabled="(!hostingInfo.serverHosting.open && !appInfo.platform.open) || hostingSubForm.$invalid" -->
										<button type="submit" id="hostingSubSubmitBtn" class="btn btn-danger genericbtn" ng-disabled="(!hostingInfo.serverHosting.open && !hostingInfo.platformHosting.open) || !hostingSubForm.$valid || showErr || showVolumeErr" ng-click="savehostingSubInfo()" style="float:right">Save</button> <!-- hostingSubForm.$valid && -->
						        	</div>
				                </div>
				            </div>
				        </div>
		 		</form>
			</div>
		</div>
	</section>
</section>