<!--Storage Calculate  -->
<div> <label><i class="fa fa-tags" aria-hidden="true"></i> Please select at least one deal type of each level to view the result.</label></div>
<div class="calculate-header">
	<br/>
	<div style="display:inline-flex; padding-left: 32.1em;">
		<div class="column-head-bench_div">
			<label style="margin-left: 4em;">Benchmark</label>
		</div>
		<div class="column-head_div" style="margin-left:1em;">
			<label style="margin-left: 1em;">Past Deal</label>
		</div>
		<div class="column-head_div" style="margin-left: 1em;">
			<label style="margin-left: 1em;">Competition</label>
		</div>
	</div>
</div>

<div class="col-lg-12 storageCal">
	<div class="level1_div">
		<div class="level1" style="background-image: url('../images/quater4.png');">
			<i class="fa fa-plus-circle level1_i" ng-if="!storageInfo.storage.open"  ></i>
			<i class="fa fa-minus-circle level1_i" ng-if="storageInfo.storage.open" ></i>
		</div>
		<div class="level1_div">
			<div class="level1_icondiv">
				<i class="fa fa-database storagelevel1_icon"></i>
			</div>
			<div class="level1_labeldiv">
				<label> {{storageInfo.storage.levelName}}</label>
			</div>
		</div>
		<div style="display:inline-flex; padding-left: 16em;" ng-if="storageInfo.storage.open">
			<div class="column_div">
				<label style="margin-left: 1em;">Low</label>
			</div>
			<div class="column_div">
				<label style="margin-left: 1em;">Target</label>
			</div>
			<div class="column_div" style="margin-left: 1em;">
				<label style="margin-left: 1em;">Average</label>
			</div>
			<div class="column_div" style="margin-left: 1em;">
				<label style="margin-left: 1em;">Average</label>
			</div>
		</div>
	</div>

	<div class="storagelevel1-1_div" ng-if="storageInfo.storage.open">
		<ul>
		    <li>
		        <i class="fa fa-plus-circle storagelevel1-1_expandcollapse"   ng-if="!storageInfo.storage.children[0].open" font-size="16px;"></i>
				<i class="fa fa-minus-circle storagelevel1-1_expandcollapse"  ng-if="storageInfo.storage.children[0].open" font-size="16px;"></i>
				<span class="iconbar">
					<i class="fa fa-bars level1-1_icon"></i>
				</span>
				<span class="labelbar">
					<label class="levelheader vol"> {{storageInfo.storage.children[0].levelName}}</label>
				</span>
				<div style="display:inline-flex;padding-left:9.96em;">
							<div class="checkbox_div" ng-repeat="(key, prop) in storageInfo.storage.children[0]"
							 ng-class="{'storageCalculateMargin' : key=='pastAvg' || key=='compAvg'}" ng-if="key=='benchLow' || key=='benchTarget' || key=='pastAvg' || key=='compAvg'">
								<input type="radio" name="childVolumeStorage" style="margin-left: 1em;"
								 ng-model="storageInfo.storage.children[0].childVolumeStorage"
								 value="{{$index}}"
								 ng-disabled="storageInfo.storage.children[0][key]=='NA'"
								 ng-required="CalculateDto.storageCalculateDto!=null"
								 ng-click="createUnitPrice(storageInfo.storage.children[0],key)"
								 >
								<label class="level-name" >
								<a ng-if="storageInfo.storage.children[0][key]!='NA'" ng-click="getNearestDeal(storageInfo.storage.children[0],key)">{{storageInfo.storage.children[0][key]}}</a>
								<p ng-if="storageInfo.storage.children[0][key]=='NA' || storageInfo.storage.children[0].open == true">{{storageInfo.storage.children[0][key]}}</p></label>
							</div>
						</div>
				<ul ng-if="storageInfo.storage.children[0].open">
					<li ng-repeat="child in storageInfo.storage.children[0].children" ng-init="childIndex = $index">
						<span class="iconbar" style="padding-top:15px; padding-bottom:17px;"><i class="fa fa-bars"></i></span>
						<span class="labelbar">
							<label class="levelheader volChild">{{child.levelName}}</label>
						</span>
						<div style="display:inline-flex;padding-left:0;">
						<div class="checkbox_div" ng-repeat="(key, prop) in storageInfo.storage.children[0].children[childIndex]"
							 ng-class="{'storageCalculateMargin' : key=='pastAvg' || key=='compAvg'}" ng-if="key=='benchLow' || key=='benchTarget' || key=='pastAvg' || key=='compAvg'">
								<input type="radio" name="{{childIndex}}" style="margin-left: 1em;"
								ng-model="storageInfo.storage.children[0].children[childIndex].perNonPer"
								 value="{{$index}}"
								 ng-click="createUnitPrice(child,key)"
								  ng-disabled="storageInfo.storage.children[0].children[childIndex][key]=='NA'"
								 ng-required="!storageInfo.storage.children[0].children[childIndex].valid"
								 >
								<label class="level-name" >
								<a ng-if="storageInfo.storage.children[0].children[childIndex][key]!='NA'" ng-click="getNearestDeal(child,key)">{{storageInfo.storage.children[0].children[childIndex][key]}}</a>
								<p ng-if="storageInfo.storage.children[0].children[childIndex][key]=='NA'">{{storageInfo.storage.children[0].children[childIndex][key]}}</p></label>
							</div>
						</div>
					</li>
				</ul>
			</li>
         </ul>
      </div>
 	  <div>
		   <div class="backup_div">
				<div class="backuplevel1" style="background-image: url('../images/quater21.png');">
					<i class="fa fa-plus-circle backuplevel1_i" ng-if="!storageInfo.backup.open"  ></i>
					<i class="fa fa-minus-circle backuplevel1_i" ng-if="storageInfo.backup.open"  ></i>
				</div>
				<div class="level1_div">
       				<div class="level1_icondiv">
						<i class="fa fa-database backup_icon"></i>
					</div>
					<div class="level1_labeldiv">
						<label> {{storageInfo.backup.levelName}}</label>
       				</div>
				</div>
				<div style="display:inline-flex; padding-left: 15.3em;" ng-if="storageInfo.backup.open">
					<div class="column_div">
						<label style="margin-left: 1em;">Low</label>
					</div>
					<div class="column_div">
						<label style="margin-left: 1em;">Target</label>
					</div>
					<div class="column_div" style="margin-left: 1em;">
						<label style="margin-left: 1em;">Average</label>
					</div>
					<div class="column_div" style="margin-left: 1em;">
						<label style="margin-left: 1em;">Average</label>
					</div>
				</div>
			</div>
			<div class="backuplevel1-1_div" ng-if="storageInfo.backup.open">
   				<ul>
					<li ng-init="dvIndex = $index">
						<span class="iconbar">
							<i class="fa fa-bars level1-1_icon" ></i>
						</span>
						<span class="labelbar">
							<label class="levelheader vol"> {{storageInfo.backup.children[0].levelName}}</label>
						</span>
						<div style="display:inline-flex;padding-left: 9.6em;">

						<div class="checkbox_div" ng-repeat="(key, prop) in storageInfo.backup.children[0]"
							 ng-class="{'storageCalculateMargin' : key=='pastAvg' || key=='compAvg'}" ng-if="key=='benchLow' || key=='benchTarget' || key=='pastAvg' || key=='compAvg'">
								<input type="radio" name="dbVolume" style="margin-left: 1em;"
								ng-model="storageInfo.backup.children[0].backUp"
								 value="{{$index}}"
								 ng-click="createUnitPrice(storageInfo.backup.children[0],key)"
								 ng-disabled="storageInfo.backup.children[0][key]=='NA'"
								  ng-required="CalculateDto.backupCalculateDto!=null"
								 >
								<label class="level-name" >
								<a ng-if="storageInfo.backup.children[0][key]!='NA'" ng-click="getNearestDeal(storageInfo.backup.children[0],key)">{{storageInfo.backup.children[0][key]}}</a>
								<p ng-if="storageInfo.backup.children[0][key]=='NA'">{{storageInfo.backup.children[0][key]}}</p></label>
							</div>
						</div>
					</li>
				</ul>
			</div>
	  </div>
</div>
<!--End Server Volume -->
<!-- <div class="col-lg-offset-10  col-md-offset-10 col-lg-2 col-md-2"><br/> -->
<!-- 	<button type="button" class="btn btn-danger genericbtn"  ng-click="backToInput()"> Back </button> -->
<!-- 	<button type="button" class="btn btn-danger genericbtn" ng-disabled="storagecalculateForm.$invalid" ng-click="goToResult()"> Next </button> -->
<!-- </div> -->
