<table class="table totals-table">
	<thead>
  		<tr>
  			<th class="headRow" style="width: 11em;"> Section </th>
      		<th class="headRow" style="width: 18em;"> Terms </th>
      		<th class="headRow"> Definations </th>
    	</tr>
 	</thead>
 	<tbody>
 	
 		<!--1-->
 		<tr>
			<td rowspan="4">{{assumptionsTowers.tr1.td1}}</td>
		 	<td>{{assumptionsTowers.tr1.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr1.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr2.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr2.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr3.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr3.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr4.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr4.td3"></td>
    	</tr>
    	
    	<!--2-->
    	<tr>
			<td rowspan="6">{{assumptionsTowers.tr5.td1}}</td>
		 	<td>{{assumptionsTowers.tr5.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr5.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr6.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr6.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr7.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr7.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr8.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr8.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr9.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr9.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr10.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr10.td3"></td>
    	</tr>
    	
    	<!--3-->
    	<tr>
			<td>{{assumptionsTowers.tr11.td1}}</td>
		 	<td>{{assumptionsTowers.tr11.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr11.td3"></td>
    	</tr>
 	</tbody>
</table>