<table class="table totals-table">
	<thead>
  		<tr>
  			<th class="headRow" style="width: 11em;"> Section </th>
      		<th class="headRow" style="width: 18em;"> Terms </th>
      		<th class="headRow"> Definations </th>
    	</tr>
 	</thead>
 	<tbody>
 	
 		<!--1-->
 		<tr>
			<td rowspan="11">{{assumptionsTowers.tr1.td1}}</td>
		 	<td>{{assumptionsTowers.tr1.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr1.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr2.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr2.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr3.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr3.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr4.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr4.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr5.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr5.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr6.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr6.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr7.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr7.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr8.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr8.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr26.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr26.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr27.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr27.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr28.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr28.td3"></td>
    	</tr>
    	
    	<!--2-->
    	<tr>
			<td rowspan="5">{{assumptionsTowers.tr9.td1}}</td>
		 	<td>{{assumptionsTowers.tr9.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr9.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr10.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr10.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr11.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr11.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr12.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr12.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr13.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr13.td3"></td>
    	</tr>
    	
    	
    	<!--3-->
 		<tr>
			<td rowspan="6">{{assumptionsTowers.tr14.td1}}</td>
		 	<td>{{assumptionsTowers.tr14.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr14.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr15.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr15.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr16.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr16.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr17.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr17.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr18.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr18.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr19.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr19.td3"></td>
    	</tr>
    	
    	<!--4-->
 		<tr>
			<td rowspan="5">{{assumptionsTowers.tr20.td1}}</td>
		 	<td>{{assumptionsTowers.tr20.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr20.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr21.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr21.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr22.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr22.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr23.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr23.td3"></td>
    	</tr>
    	<tr>
		 	<td>{{assumptionsTowers.tr24.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr24.td3"></td>
    	</tr>
    	
    	<!--5-->
    	<tr>
			<td>{{assumptionsTowers.tr25.td1}}</td>
		 	<td>{{assumptionsTowers.tr25.td2}}</td>
		 	<td ng-bind-html="assumptionsTowers.tr25.td3"></td>
    	</tr>
 	</tbody>
</table>