.totalAssessment{
	padding-left:3em;
}
 /* Specify styling for tooltip contents */
   .tooltip.customClass .tooltip-inner {
     color: #ffffff;
     background-color: #509bdc;
     box-shadow: 0 6px 12px rgba(0,0,0,.175);
   }
        
    .tab_inline{
    	display: inline-flex !important;
    }
    
    .totals_tabs > li.active > a, .totals_tabs > li.active > a:hover, .totals_tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    border: transparent;
    border-bottom-color: transparent;
	}
	
	.totals_tabs > li.active, .totals_tabs > li.active, .totals_tabs > li.active  {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-bottom-color: transparent;
	}
	
	.totals_tabs > li {
	border: 1px solid #d0d0d0;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
	}