<head>
	<link rel="stylesheet" href="/src/apps/apps.css">
</head>

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	    <div class="container">
	    	<div class="appsSubmission">
			    	<div class="col-lg-12 col-md-12 portlets" >
				      <h3><i class="fa fa-buysellads" aria-hidden="true"></i> Application Services </h3>
				     <h5>To add or update application details.</h5>
			    	</div>
		 		<form  id="appsSubForm" name="appsSubForm" class="form-horizontal">
				        <div class="col-lg-12 col-md-12 portlets">
				            <div class="panel panel-default">
				                <div class="panel-heading">
				                    <div class="pull-left"> Solution Setting</div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="panel-body">
				                    <div class="appsSubForm">
				                        <div class="first-section">
				                        	<div class="col-lg-3 col-md-3">
				                        		<div class="form-group">
				                                	<label for="dealtype"> Offshore Allowed</label>
			                                    	<select id="offshoreAllowedMenu" class="form-control appsSubInputs" ng-model="dealDetails.offshoreSelected" selected="dealDetails.offshoreSelected" name="offshoreAllowedMenu" ng-required="true">
						                            	<option ng-repeat="offshores in genericDealInfoDto.offshoreAllowedOptionList">{{offshores}}</option>
													</select>
				                              	</div>
			                              	</div>
				                             <div class="col-lg-3 col-md-3">
				                              	<div class="form-group">
				                                	<label for="levelofServiceMenu">Level of service</label>
				                                 	<select id="serviceWindow" class="form-control appsSubInputs" ng-model="dealDetails.standardwindowInfoSelected" selected="dealDetails.standardwindowInfoSelected" name="serviceWindow" ng-required="true">
						                            	 <option ng-repeat="serviceWindows in genericDealInfoDto.standardWindowInfoList" ng-value="serviceWindows.windowName">{{serviceWindows.windowName}} {{serviceWindows.windowRange}}</option>
													</select>
				                                </div>
		                               		</div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>

				        <div class="col-lg-12 col-md-12 portlets">
				            <div class="panel panel-default">
				                <div class="panel-heading">
				                    <div class="clearfix">
				                    	<div class="col-lg-5">
				                    		<label for="title"><i class="fa fa-tags" aria-hidden="true"></i> Field Marked with <span class="mandatory">*</span> are mandatory. </label>
			                    		</div>
				                    	<div class="col-lg-4 tabheader-radio">
										    <div class="col-lg-6">
										         <input  id="radioRevenue" name="rdbRevenueUnit" type="radio" ng-model="viewBy.type" value="revenue" ng-click="onchangeprice(viewBy.type)"/>
										         <label>Annual Price</label>
										    </div>
										    <div class="col-lg-6">
										    	<input  id="radioUnit" name="rdbRevenueUnit" type="radio" ng-model="viewBy.type" value="unit" ng-click="onchangeprice(viewBy.type)"/>
										       	<label>Unit Price</label>
										    </div>
										</div>
				                    </div>
				                </div>
				                <div class="panel-body">
				                	<div class="tab-content col-lg-12 col-md-12">
				                		<div id="inputtab" class="tree col-lg-12 col-md-12 scrollbar-danger" >
			                				<!--apps input -->
		                				<div class="col-lg-12 col-md-12">
				                			<div class="col-lg-3 col-md-3">
				                        		<div class="form-group tower-architect">
				                                	<label for="offshore">Tower Architect<div class="mandatory" style="display:initial;">*</div></label>
					                                <div class="input-group contactInput">
												      <input type="text" ng-model="dealDetails.towerArchitect" class="form-control genericInputs" ng-required="true">
												      <span class="input-group-addon" ng-click="edit(dealDetails.towerArchitect,'towerArchitect')" ><i class="fa fa-search" ></i></span>
													 </div>
				                              	</div>
				                        	</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<br/>
											<div class="alert alert-danger" ng-if="showErr">
											<strong>Error!</strong> Sum of percentages should be 100!</div>
											<div class="alert alert-danger" ng-if="showVolumeErr">
											<strong>Error!</strong> Sum of all App types should be equal to Total in there respective year!</div>
<!-- 											<div class="alert alert-danger" ng-if="showmsg"> -->
<!-- 											<strong>Error!</strong> All fields are required!</div> -->
										</div>
										<div class="col-lg-12 col-md-12 apps">
											<div class="level1_div">
												<div class="level1">
													<i class="fa fa-plus-circle level1_i" ng-if="!appInfo.total.open" ng-click="togglePanel(appInfo.total)" ></i><hr class="iconsideline" ng-if="!appInfo.total.open">
													<i class="fa fa-minus-circle level1_i" ng-if="appInfo.total.open" ng-click="togglePanel(appInfo.total)"></i><hr class="iconsideline" ng-if="appInfo.total.open">
												</div>
												<div class="level1_div">
													<div class="level1_icondiv">
														<i class="fa fa-database appslevel1_icon"></i>
													</div>
													<div class="level1_labeldiv">
														<label> {{appInfo.total.levelName}}</label>
													</div>
													<div class="level1_yearmaindiv11">
														<div ng-repeat="dv in appInfo.total.children[0].distributedVolume track by $index" ng-if="appInfo.total.open">
															<label class="input-box level1_yearlabel">Year {{$index+1}}</label>
														</div>
													</div>
													<div class="level1_yearmaindiv22">
														<div ng-repeat="dv in appInfo.total.children[0].distributedVolume track by $index" ng-if="appInfo.total.open">
															<label class="input-box level1_yearlabel">Year {{$index+1}}</label>
														</div>
													</div>
												</div>
											</div>
											<div class="appslevel1-1_div" ng-if="appInfo.total.open">
												<ul>
												    <li>
												        <div class="level1_div">
															<label for="clientIndustry" class="distributionsetting">App Distribution<em class="mandatory" style="display:initial;">*</em></label>
															<select ng-if="custom==true" class="form-control selectDistributionlist" ng-model="selectedSolutionId" ng-options="sol.solutionId as sol.solutionName disable when sol.solutionName=='Custom' for sol in solList" ng-change="onChangeDistSetting(selectedSolutionId)" ng-required="true">
																<option value="" disabled selected hidden>Please Select...</option>
															</select>
															<select ng-if="custom==false" class="form-control selectDistributionlist" ng-model="selectedSolutionId" ng-options="sol.solutionId as sol.solutionName disable when sol.solutionName=='Custom' for sol in solList" ng-change="onChangeDistSetting(selectedSolutionId)" ng-required="true">
																<option value="" disabled selected hidden>Please Select...</option>
															</select>
														</div>
												    </li>
												    <li>
												        <i class="fa fa-plus-circle appslevel1-1_expandcollapse"  ng-click="togglePanel(appInfo.total.children[0])" ng-if="!appInfo.total.children[0].open" ></i>
														<i class="fa fa-minus-circle appslevel1-1_expandcollapse" ng-click="togglePanel(appInfo.total.children[0])" ng-if="appInfo.total.children[0].open" ></i>
														<span class="iconbar">
															<i class="fa fa-bars level1-1_icon"></i>
														</span>
														<span class="labelbar">
															<label class="levelheader total" style="width:18em;"> {{appInfo.total.children[0].levelName}}<div class="mandatory" style="display:initial;">*</div></label>
															<input type="text" ng-repeat="dv in appInfo.total.children[0].distributedVolume track by $index"
																class="form-control input-box appslevel1-1_input"
																name="volume{{$index}}" ng-disabled="appInfo.total.children[0].open == true" ng-change="calcVolume(appInfo.total.children[0])"
																ng-model="appInfo.total.children[0].distributedVolume[$index].volume" ng-keydown="tabEvent($event,$index,'total','')" maxlength="6" size="6" ng-required="true" numbers-only />

															<label class="levelheader pricing-header"> App Pricing<div class="mandatory" style="display:initial;">*</div> </label>
															<input type="text" ng-repeat="dv in appInfo.total.children[0].distributedVolume track by $index"
																ng-if="viewBy.type == 'revenue'" class="form-control input-box appslevel1-1_input"
																ng-model="appInfo.total.children[0].distributedVolume[$index].revenue * 12"
																name="revenue{{$index}}" ng-disabled="appInfo.total.children[0].open == true"
																ng-change="onchangeparentpricing(appInfo.total.children[0],viewBy.type);" ng-keydown="tabEvent($event,$index,'parentpricingrevenue','')" maxlength="6" size="6" ng-required="true" numbers-only />

															<input type="text" ng-repeat="dv in appInfo.total.children[0].distributedVolume track by $index"
																ng-if="viewBy.type == 'unit'" class="form-control input-box appslevel1-1_input"
																name="unit{{$index}}" ng-disabled="appInfo.total.children[0].open == true"
																ng-model="appInfo.total.children[0].distributedVolume[$index].unit"
																ng-change="onchangeparentpricing(appInfo.total.children[0],viewBy.type);" ng-keydown="tabEvent($event,$index,'parentpricingunit','')" ng-required="true" numbersOnlyDec />
														</span>
														<ul ng-if="appInfo.total.children[0].open">
															<li ng-repeat="child in appInfo.total.children[0].children track by $index" ng-init="childIndex = $index">
																<span class="iconbar" style="padding-top:1em; padding-bottom:1.1em;"><i class="fa fa-bars"></i></span>
																<span class="labelbar">
																	<label class="levelheader totalchild input-euro right" ng-if="!child.tooltip">{{child.levelName}}<em class="mandatory" style="display:initial;">*</em></label>
																	<label class="levelheader totalchild input-euro right" ng-if="child.tooltip"  title='{{child.tooltip}}'>{{child.levelName}}<em class="mandatory" style="display:initial;">*</em></label>

																	<input type="text" class="form-control input-box perInput " name="childinput{{$index}}" style="margin-top: 0.2em"
																	  	ng-change="onChangeAppPercentage(appInfo.total.children[0].children)"
																	  	ng-model="child.percentage" placeholder="<100" numbers-only/>

																	<input type="text" ng-repeat="dv in child.distributedVolume track by $index" name="childinput{{$index+1}}"
																		class="form-control input-box" style="margin-top: 0.2em" ng-change="onChangevolume(appInfo.total.children[0],childIndex,$index)"
																		name="childVolume{{childIndex}}{{$index}}"
																   		ng-model="dv.volume" maxlength="6" size="6" ng-required="true" numbers-only/>

															   		<label class="levelheader pricing-header"> App Pricing<div class="mandatory" style="display:initial;">*</div> </label>
																	<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																		ng-if="viewBy.type == 'revenue'" class="form-control input-box appslevel1-1_input"
																		ng-model="dv.revenue * 12" ng-blur="calcServerPrice();"
																		name="revenue{{$index}}" ng-keydown="tabEvent($event,$index,'childpricingrevenue',childIndex)" maxlength="6" size="6" ng-required="true" numbers-only />

																	<input type="text" ng-repeat="dv in child.distributedVolume track by $index"
																		ng-if="viewBy.type == 'unit'" class="form-control input-box appslevel1-1_input"
																		name="unit{{$index}}"" ng-disabled="child.open == true"
																		ng-model="child.distributedVolume[$index].unit" ng-blur="calcServerPrice();"
																		ng-keydown="tabEvent($event,$index,'childpricingunit',childIndex)" maxlength="10" size="10" ng-required="true" numbers-only-dec />
																</span>
															</li>
														</ul>
													</li>
										         </ul>
										    </div>
										</div>
										<!--End Server Volume -->
				                		</div>
									</div>
									<div class="col-lg-12  col-md-12 portlets">
										<button type="submit" id="appsSubSubmitBtn" class="btn btn-danger genericbtn" ng-disabled="!appInfo.total.open || !appsSubForm.$valid || showErr || showVolumeErr" ng-click="saveAppSubInfo()" style="float:right">Save</button> <!-- appsSubForm.$valid && -->
						        	</div>
				                </div>
				            </div>
				        </div>
		 		</form>
			</div>
		</div>
	</section>
</section>