<head>
	<link rel="stylesheet" href="/src/totals/totals.css">
</head>

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	    <div class="container">
	    	<div class="totalAssessment">
		    	<div class="col-lg-12 col-md-12 portlets">
		      		<h3><i class="fa fa-tumblr-square" aria-hidden="true"></i> Governance, Transition, Transformation and Totals </h3>
			      	<h5>To see the result based on your filled data. </h5>
			      	<h5>That will be different across the all towers for your different inputs</h5>
			      	<br>
   	            	<button class="btn btn-danger genericbtn " ng-click="exportToExcel('#tableToExport')" ng-disabled="graphView">
            			<i class="fa fa-file-excel-o" ></i>&nbsp; Export to Excel
    		 		</button>
    		 		<button ng-show="!graphView" class="btn btn-danger genericbtn " ng-click="viewGraphs()"><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; Show Graph</button>
    		 		<button ng-show="graphView" class="btn btn-danger genericbtn " ng-click="graphView = false"><i class="fa fa-table"></i>&nbsp; Show Total</button>
    		  		<button class="btn btn-danger genericbtn " ng-click="copy();" ng-show="ShowCopy" ng-disabled="disableCopy || graphView"><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp; Copy</button>
		    	</div>

		    	<div class="col-lg-12 col-md-12 portlets" style="width:91%;">
		    		<br>
			    	<div class="alert alert-info" ng-if="deleteMsg" role="alert" style="padding:8px;margin-bottom:5px;">
					<strong>Success !</strong> Scenario {{tabScenarioName}} removed successfully.</div>
				</div>

				<div class="col-lg-12 col-md-12 portlets">
					<br  ng-if="!deleteMsg">
					<ul class="nav nav-tabs totals_tabs col-lg-6">
					    <li ng-class="tab.class" data-toggle="tab" ng-repeat="tab in tabs track by $index">
				    		<a class="tab_inline" ng-click="GetScenerio(tab.ScenerioID,$index)" herf="#" data-toggle="tab" >{{tab.tabname}}</a>
				    		<i class="glyphicon glyphicon-remove-sign" ng-show="tab.tabname != 'Active Scenerio'" ng-click="removeTab($index)"></i>	&nbsp;
				    	</li>
				  	</ul>
				</div>
				<div class="col-lg-12 col-md-12 portlets"  ng-show="!graphView">
					<table class="table totals-table" id="tableToExport">
					    <thead>
				      		<tr class="head">
					        	<th>
					        		&nbsp; Tower
					        	</th>
					       		<th ng-repeat="x in numberArr track by $index" ng-init="year = $index" style="text-align:right;">
					       			Year {{$index+1}}
					       		</th>
					      	</tr>
					    </thead>
					    <tbody>
					      	<tr>
						        <td>
						        	&nbsp;&nbsp;Infrastructure & hosting
						        </td>
						     <td ng-repeat="dv in hostingYearlyRevenue" style="text-align:right;">
					       			{{dv.totalRevenue|currency:''}}
					       		</td>
					      	</tr>
					      	<tr>
					        	<td>
					        		&nbsp;&nbsp; Storage & backup </td>
					       		<td ng-repeat="dv in storageInfo" style="text-align:right;">
					       			{{dv.totalRevenue|currency:''}}
					       		</td>

					      	</tr>
					      	<tr>
						        <td>
						        	&nbsp; End user services</td>
						        <td ng-repeat="dv in endUserYearlyRevenue" style="text-align:right;">
						       		{{dv.totalRevenue|currency:''}}
						       </td>

					      	</tr>
					      	<tr>
			        			<td>
			        				&nbsp; Network services </td>
					       		  <td ng-repeat="network in networkYearlyRevenue" style="text-align:right;">
						     	   {{network.totalRevenue|currency:''}}
						     	</td>
					      	</tr>
					      	<tr>
						        <td>
						        	&nbsp; Service desk</td>
						        <td ng-repeat="service in serviceDeskYearlyRevenue" style="text-align:right;">
						     	   {{service.totalContactsRevenue|currency:''}}
						     	</td>
					      	</tr>
					      	<tr>
					        	<td>
					        		&nbsp; Application Services</td>
						       	<td ng-repeat="appInfo in appYearlyRevenue" style="text-align:right;">
						       		{{appInfo.totalAppsRevenue|currency:''}}
						       	</td>
								<td ng-repeat="x in numberArr track by $index" ng-if="appYearlyRevenue.length==0" style="text-align:right;">
						       		0.00
						       </td>
					      	</tr>
					      	<tr>
						        <td>
						        	&nbsp; Retail Services</td>
						        <td ng-repeat="retail in retailInfo" style="text-align:right;">
						     	   {{retail.noOfShops|currency:''}}
						     	</td>
					      	</tr>
					    </tbody>
					    <tr>
						    <td class="headRow">Subtotals </td>
						    <td class="headRow" ng-repeat="subTotal in subTotals track by $index" style="text-align:right;">{{subTotal|currency:''}}</td>
					    </tr>
				    	<tr class="blankrow">
				    		<td> </td>
				    	</tr>

					    <thead>
					      <tr class="head">
					        <th>Additional Price</th>
					       	<th ng-repeat="x in numberArr track by $index" style="text-align:right;">Year {{$index+1}}</th>
					      </tr>
					    </thead>

					    <tbody>
				      		<tr>
						        <td>Service Governance ({{serviceGovernance}}%)</td>
						        <td ng-repeat="gov in serviceGovList track by $index" style="text-align:right;">{{gov|currency:''}}</td>
					      	</tr>
					      	<tr>
						        <td>Transition Fees ({{transitionFees}}%)</td>
						        <td ng-repeat="fee in transitionFeeList track by $index" style="text-align:right;"><span ng-if="fee>0">{{fee|currency:''}}</span>
						       <span ng-if="fee==0">-</span>
						        </td>
				        	</tr>
				        	<tr ng-if="!migrationCostApplicable">
						        <td >Migration Cost</td>
						        <td ng-repeat="mCost in totalRevenueList track by $index" style="text-align:right;">-</td>
				        	</tr>
				        	<tr ng-if="migrationCostApplicable">
						        <td >Migration Cost</td>
						        <td ng-repeat="mCost in migrationCost" style="text-align:right;">{{mCost.cost|currency:''}}</td>
				        	</tr>
					    </tbody>

					    <tr class="headRow">
					    	<td class="headRow">Subtotals </td>
					    	<td class="headRow" ng-repeat="addSubTotal in addSubTotals track by $index" style="text-align:right;">{{addSubTotal|currency:''}}</td>
					    </tr>

					 	<tr class="blankrow">
					    	<td> </td>
					    </tr>
					    <thead>
					      <tr class="headlast">
					        <th>Total Price</th>
					        <th ng-repeat="total in totalRevenueList track by $index" style="text-align:right;">{{total|currency:''}}</th>
					      </tr>
					    </thead>
				    </table>
			    	<label id="inKCurrencyLabel">(in k {{dealCurrency}})</label>
				</div>
					<div class="col-lg-12 col-md-12 portlets" ng-show="graphView">
				 		<div class="row">
							<div class="col-lg-12">
								<table class="table totals-table">
									<tr class="head">
										<th style="text-align:center;"> Deal TCV: {{graphTotalCost |currency:''}}K {{dealCurrency}}</th>
										<th style="text-align:center;"> Deal Term: {{dealTermInYears}} months</th>
									</tr>
								</table>
								<table class="table totals-table">
								    <thead>
							      		<tr class="head">
								        	<th> Deal Tower </th>
								       		<th> Key Volumetric</th>
								       		<th> Offshore</th>
								       		<th> Hardware</th>
								      	</tr>
								    </thead>
								    <tbody>
								      	<tr>
									        <td>Infrastructure & hosting</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.hosting}} Servers</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.hostingOffshore}}</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.hostingHardware}}</td>
							       		</tr>
							       		<tr>
									        <td>Storage & backup</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.storageBackup}} TB</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.storageOffshore}}</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.storageHardware}}</td>
							       		</tr>
							       		<tr>
									        <td>End user services</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.endUser}} Devices</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.endUserOffshore}}</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.endUserHardware}}</td>
							       		</tr>
							       		<tr>
									        <td>Network services</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.networkWan}} WAN <br> {{yearlyRevenue.scenarioVolumeInfoDto.networkLan}} LAN</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.networkOffshore}}</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.networkHardware}}</td>
							       		</tr>
							       		<tr>
									        <td>Service desk</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.serviceDesk}} Contacts</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.serviceDeskOffshore}}</td>
								       		<td>-</td>
							       		</tr>
							       		<tr>
									        <td>Application Service</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.application}} Apps</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.applicationOffshore}}</td>
								       		<td>-</td>
							       		</tr>
							       		<tr>
									        <td>Retail Services</td>
									     	<td>{{yearlyRevenue.scenarioVolumeInfoDto.retail}} Lanes</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.retailOffshore}}</td>
								       		<td>{{yearlyRevenue.scenarioCriteriaInfoDto.retailHardware}}</td>
							       		</tr>
								    </tbody>
							    </table>
							</div>
						</div>
				 			<div class="col-lg-12 col-md-12 portlets">
								<table class="table totals-table">
									<tr class="head" ng-if="yearlyRevenue.scenarioDesc">
										<th>{{yearlyRevenue.scenarioDesc}}</th>
									</tr>
									<!-- <tr class="head" ng-if="!yearlyRevenue.scenarioDesc">
										<th>Active</th>
									</tr> -->
								</table>
								<p><label ><i class="fa fa-tags"></i> In case percentage is low, please mouse-over on the graph to view percentage.</label></p>
								<table style="width: 100%;">
									<tr>
								    	<td  id="piechart" style="height: 335px;"></td>
							        </tr>
					    		</table>
							</div>
							<div class="col-lg-12 col-md-12 portlets" style="margin-top:1em;" >
							 	<div class="col-lg-12" style="background:white" >
							 	<br>
							 	<label><i class="fa fa-tags"></i> Please mouse-over on the bar to view the price.</label>
							 	<br>
							 	<p style="float:right; font-weight:bold">Annual Price Deal</p>
							 	<br>
							 	<canvas id="bar" class="chart chart-bar"
								 chart-data="data" chart-labels="labels" chart-series="series"
								  chart-colors="colors" >
								</canvas>
								</div>
							 </div>
							 <div class="col-lg-12 col-md-12 portlets">
							 	<br>
								<i class="fa fa-circle" aria-hidden="true" style="color:red; padding-left:15em;"></i>&nbsp;Individual Tower Pricing
								<i class="fa fa-circle" aria-hidden="true" style="color:grey; padding-left:1em;"></i>&nbsp;Service Management
								<i class="fa fa-circle" aria-hidden="true" style="color:darkgrey; padding-left:1em;">&nbsp;</i>Transition
							</div>
						</div>
				<div class="row"> </div><br/><div class="col-lg-12 col-md-12 portlets"> </div>
			</div>
		</div>
	</section>
</section>